canvas {
    border: none;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    <!-- background-color: #f7f7f7;-->
    text-align: center;
}

#polygonVis {
    border-color: coral;
    height: 71vh;
    width: 100%;
  }

dashboard {
    font-family: 'Roboto', sans-serif;
    text-align: right;

}

#chartVis .x-axis-text {
    font-weight:100;
    font-size: 12px;
    color:red;
    text-align: right;
}
